# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environment folder
venv/


# Ignore IDE specific files (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp
