# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environment folder
venv/

# Ignore Poetry files
*.lock
poetry.lock

# Ignore IDE specific files (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp
